.items{
    float: left;
    align-items: center;
    width: 250px;
    height: 320px;
    box-shadow: 0 0 5px gray;
    margin-top: 100px;
    margin-left: 35px;
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.title{
    color: red;
}

.itemsImg{
    width: 230px;
    height: 200px;
    background-color: black;
    margin-left: 5px;
    /* margin-top: 35px; */
}

.shopNow{
    margin-top: 10px;
}
