.GAItemsContainer {
  width: 1100px;
  height: 250px;
  margin-top: 10px;
  margin-left: 10px;
  background:linear-gradient( #6daffe ,#edf6ff) ;
  border-radius: 0 40px 0 40px;
  display: flex;
}

.GAItemsImg {
  width: 220px;
  height: 220px;
  background-color: black;
  border-radius: 0 40px 0 40px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 30px;
}

.GAItemsName {
  margin-left: 10px;
  width: 300px;
}
.GAItemsDescription{
  margin-top: 25px;
  height: 50px;
  width: 100px;
}
.GAItemsDesc {
  margin-left: 10px;
  margin-top: 20px;
  width: 500px;
  height: 100px;
}
.GAItemsLine {
  width: 2px;
  height: 220px;
  background-color: gray;
  margin-left: 500px;
  margin-top: 15px;
}

.GAItemsBtn{
    height: 30px;
    width: 50px;
    border-radius: 5px;
    margin-top: 50px;
}
.GAItemsCost{
    margin-left: 60px;
    margin-top: 100px;
    font-size: 30px;
    bottom: 0;
}
.GAItemsCount{
    margin-left: 20px;
    margin-right: 20px;
}
.GAItemsSubmitBtn{
    width: 170px;
    height: 30px;
    margin-left: 35px;
    border-radius: 7px; 
}

